WebApplication1/Web References/map_serv/MAP_services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fn_map_bind">
        <s:complexType />
      </s:element>
      <s:element name="fn_map_bindResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fn_map_bindResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fn_feeders_bind">
        <s:complexType />
      </s:element>
      <s:element name="fn_feeders_bindResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fn_feeders_bindResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="fn_map_bindSoapIn">
    <wsdl:part name="parameters" element="tns:fn_map_bind" />
  </wsdl:message>
  <wsdl:message name="fn_map_bindSoapOut">
    <wsdl:part name="parameters" element="tns:fn_map_bindResponse" />
  </wsdl:message>
  <wsdl:message name="fn_feeders_bindSoapIn">
    <wsdl:part name="parameters" element="tns:fn_feeders_bind" />
  </wsdl:message>
  <wsdl:message name="fn_feeders_bindSoapOut">
    <wsdl:part name="parameters" element="tns:fn_feeders_bindResponse" />
  </wsdl:message>
  <wsdl:portType name="MAP_servicesSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fn_map_bind">
      <wsdl:input message="tns:fn_map_bindSoapIn" />
      <wsdl:output message="tns:fn_map_bindSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fn_feeders_bind">
      <wsdl:input message="tns:fn_feeders_bindSoapIn" />
      <wsdl:output message="tns:fn_feeders_bindSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MAP_servicesSoap" type="tns:MAP_servicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fn_map_bind">
      <soap:operation soapAction="http://tempuri.org/fn_map_bind" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fn_feeders_bind">
      <soap:operation soapAction="http://tempuri.org/fn_feeders_bind" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MAP_servicesSoap12" type="tns:MAP_servicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fn_map_bind">
      <soap12:operation soapAction="http://tempuri.org/fn_map_bind" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fn_feeders_bind">
      <soap12:operation soapAction="http://tempuri.org/fn_feeders_bind" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MAP_services">
    <wsdl:port name="MAP_servicesSoap" binding="tns:MAP_servicesSoap">
      <soap:address location="http://localhost:6010/MAP_services.asmx" />
    </wsdl:port>
    <wsdl:port name="MAP_servicesSoap12" binding="tns:MAP_servicesSoap12">
      <soap12:address location="http://localhost:6010/MAP_services.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>